.navbar{
    background-color: #B00020 !important;
    
}

.nav-link{
    color: white !important;
    font-weight: bold !important;
}


.newarrival{
    margin-top: 60px;
    
}


.btn-primary{
    width: 100%;
    background-color: #B00020 ;

}



.heading{
    text-align: center;
    margin-top: 50px;
    color: #B00020 ;

}



.fa-cart-arrow-down,.fa-user{

    font-size: 32px !important;
    
    }




 
    