.navbar{
    background-color: #222629 !important;
    
}

.nav-link{
    color: white !important;
    font-weight: bold !important;
}


.newarrival{
    margin-top: 60px;
    
}


.btn-primary{
    width: 100%;
    background-color: #222629 ;

}



.heading{
    text-align: center;
    margin-top: 50px;
    color: #222629 ;

}



.fa-cart-arrow-down,.fa-user{

    font-size: 32px !important;
    
    }



    
.footer{
    width: 100%;
    background-color: #222629;
    padding-bottom: 70px;
    height: 60px;
    color: white;
    justify-content: center;
    align-items: center;

    
}

.footer > div {
    text-align: center;
    align-items: center;

}


.dropdown-menu a:hover
{
	
    color:white !important;
	border-radius: 10px;
    font-style: italic;

	
}


.nav-item a:hover{
    background-color: grey;
    border-radius: 30px;
}




.card{
    width: 300px;
    height: auto;
    margin-bottom: 50px;

}

.maincard{
    margin-bottom: 10px;  
     margin-top: 30px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;
 }
 .heading>h1{
    text-shadow: 1px 1px 3px rgb(78, 13, 13);
}
.alert{
    background-color: rgba(246, 246, 246, 0.794) !important;
    
}

.heading{
    text-align: center;
    margin-top: 50px;
    color: #222629 ;
    border-radius: 500px;

}

