.navbar{
    background-color: #222629 !important;
    
}

.nav-link{
    color: white !important;
    font-weight: bold !important;
}


.newarrival{
    margin-top: 60px;
    
}


.btn-primary{
    width: 100%;
    background-color: #222629 ;

}



.heading{
    text-align: center;
    margin-top: 50px;
    color: #222629 ;

}



.fa-cart-arrow-down,.fa-user{

    font-size: 32px !important;
    
    }


    .table{ 
        border-collapse:separate; 
        border-spacing: 0px; 
        margin-top: 30px;
        width: 100px;
        background-color: #222629;
        justify-content: center;

       
        } 

        th,td,tr{ 
            margin-top: 30px;
            width: 150px; 
            text-align: center; 
            padding: 15px;
            color: lavenderblush;
           font-style: inherit;
            
            }




            .carousel{
                margin-top: -15.4px;
            }
            .heading{
                text-align: center;
                margin-top: 50px;
                padding-bottom: 0px;
                color: #222629 ;
            
            }
        
        
            .heading>h1{
                text-shadow: 1px 1px 3px rgb(78, 13, 13);
            }

           

            .footer{
                width: 100%;
                background-color: #222629;
                margin-top: 100PX;
                padding-bottom: 70PX;
                height: 60px;
                color: white;
                justify-content: center;
                align-items: center;
            
                
            }
            
            .footer > div {
                text-align: center;
                align-items: center;
            
            }




.dropdown-menu a:hover
{
	
    color:white !important;
	border-radius: 10px;
    font-style: italic;

	
}


.nav-item a:hover{
    background-color: grey;
    border-radius: 30px;
}


@media screen and (max-width: 600px) {
    .table {
      width: 100%;
      margin-top: 0;
    }
}
